(set-language-environment "UTF-8")

(prefer-coding-system 'latin-1)
(prefer-coding-system 'utf-8)

;;Suppression de la barre d'outils
(tool-bar-mode 0)
;;Pour que le curseur ne clignote plus
(blink-cursor-mode 0)

;;Quelques raccourcis utiles

(global-set-key [C-up] 'scroll-one-line-up)
(global-set-key [C-down] 'scroll-one-line-down)
(global-set-key "\C-z" 'undo)

(defun scroll-one-line-up ()
  "Scroll text of cureent window upward one line"
  (interactive)
  (scroll-up 1))

(defun scroll-one-line-down ()
  "Scroll text of cureent window upward one line"
  (interactive)
  (scroll-down 1))

;; Column number
(column-number-mode t)

;;Délimiteur parenthèses

(require 'paren)
(show-paren-mode 1)

(setq ispell-dictionary "francais")

;;Mode majeur

(setq default-major-mode 'text-mode)
;;auto-fill
(add-hook 'text-mode-hook 'turn-on-auto-fill)

(setq kill-whole-line t)

(setq completion-ignore-case t)

(setq-default indent-tabs-mode nil)


;; CC - mode
(require 'cc-mode)
(setq-default c-basic-offset 4 c-default-style "linux")
(setq-default tab-width 4 indent-tabs-mode t)
(define-key c-mode-base-map (kbd "RET") 'newline-and-indent)

;;Autocomplete

(add-to-list 'load-path "~/.emacs.d/packages/yasnippet")
(require 'yasnippet)
(yas-global-mode 1)

(add-to-list 'load-path "~/.emacs.d/")
(require 'auto-complete-config)
(add-to-list 'ac-dictionary-directories "~/.emacs.d/dict")
(ac-config-default)

(ac-set-trigger-key "TAB")
(ac-set-trigger-key "<tab>")

(require 'auto-complete-clang)
(define-key c++-mode-map (kbd "C-<tab>") 'ac-complete-clang)

(require 'member-functions)
(setq mf--source-file-extension "cpp")

(require 'flymake)
